.line {
  height: 2px;
  background-color: hsl(0, 0%, 40%);
}

.text {
  margin-top: 15px;
  font-size: 11px;
  letter-spacing: 0.3px;
  color: hsl(0, 0%, 40%);
}

.link {
  color: hsl(212, 90%, 40%)
}
